.normalPageBody {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.homePageBody{
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
}


body {
	margin:0px;
	padding:0px;
	padding-top: 10px; 
}

img {
	width:150px;
	height:175px;
}
.header {
	border-width:thin;
	border:1px solid #333333;
	padding-left: 25px;
}

#newPost {
	border-width:thin;
	border: 1px solid #444444;
}

.infoTable {
	margin-left: 10%;
}

.postTableText {
	border-width: thin;
	border:1px solid #333333;
	padding-left: 5%;
	width: 100%;
}

.jumbotron{
	padding: 1.5%;
}
td {
	border-right: thin;
}

table tr td textarea {
	width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.error{
	color: red;
}

.posts {
	margin-left: 5%;
	margin-right: 5%;
}

textarea {
	/*margin-left: 22%;
	margin-right: 18%;*/
	padding: 25px;
	/*width: 800px;
  	height: 100px;*/
 	font-size: 25px;
  	font-family: monospace;
}