{% extends "base.html" %}

{% block title %}
	All Clubs
{% endblock %}
			
{% block content %}
<div class="row">
	{% for x in range(0, length) %}
  		<div class="col-md-3">
    	<div class="thumbnail" style='height:320px;'>
     		<img src="{{clubs[x].picUrl}}" style="width:215px;height:230px;">
      		<div class="caption">
        		<center><h4><A href='/clubHome/{{clubIds[x]}}'>{{clubs[x].name}}</A></h4></center>
      		</div>
    	</div>
  		</div>
	{% endfor %}
</div>
<h5><A href='/'>Sign Up</A></h5>
		<!-- <div class='allClubs'>
			<h1>All Clubs</h1>
			<right><h5><A href='/'>Sign Up</A></h5></right>
				<table>
				{% for row in range (0, length) %} 
					<tr> 
					{% for col in range(0,5) %}
						<td>
							{% if clubs[5*row + col] %}
								<img src = {{clubs[2*row + col].picUrl}} style="width:235px;height:250px;"><h5>{{clubs[5*row + col].name}}</h5>
							{% endif %}
						</td>
					{% endfor %}
					</tr>
				{% endfor %}
 -->

{% endblock %}