{% extends 'homeBase.html' %}

{% block headerBar %}
 <div class="container">
      <div class="jumbotron">
      	<table>
		<tr>
			<td><img src = {{club.picUrl}} ></td>
			<td>
				<blockquote>
      			<h2>{{club.name}}</h2>
      			<h2><small>Meets on 
						{% for m in club.days %}{{m}}, {% endfor %} in {{club.location}} during {{club.time}}</small></h2>

      			<dl class="dl-horizontal">
  					<dt>Interests</dt>
  					<dd>{% for x in club.interests %}{{x}}, {% endfor %}</dd>
					<dt>Officers</dt>
					<dd>{% for m in offNames %}{{m}}, {% endfor %}</dd>
					<dt>Club Adviser</dt>
					<dd>{{club.adviser}}</dd>
				</dl>
				</blockquote>
			</td>
		</tr>
        </table>

		<!-- <tr>
			<td><img src = {{club.picUrl}} ></td>
			<td>
				<table class= 'infoTable'>
					<tr> 
					<td><h1>{{club.name}}</h1></td>
					</tr>
					<tr>
					<tr> 
					<td><strong>
						Meets on 
						{% for m in club.days %}{{m}}, {% endfor %} in {{club.location}} during {{club.time}}</strong></td>
					</tr>
					<td><strong>Interests: </strong>
					{% for x in club.interests %}{{x}}, {% endfor %}
					</td>
					</tr>
					<tr>
					<td><strong>Officers: </strong>
					{% for m in offNames %}{{m}}, {% endfor %}
					</td>
					</tr>
					<tr> 
					<td><strong>Club Adviser: {{club.adviser}}</strong></td>
					</tr>
				</table>
			</td>
		</tr>
	</table> -->
      </div>
</div> <!-- /container -->

	
{% endblock %}

{% block newPost %}
	{% if isOfficer %}
		<form class = 'newPost' method='post'>
			{{club.render_new_post() | safe }}
			<input type='hidden' name='form_name' value='newPost'>
  		</form>
	{% endif %}

{% endblock %}


{% block wall %}
	{{super()}}
{% endblock %}