{% extends "base.html" %}

{% block title %}
	Welcome to the Interest Network
{% endblock %}
			
{% block content %}
	<label>
		<div>Club Name</div>
			<input type="text" name="name" value={{name}}> 
	</label>
	<div class="error">{{err_user}}</div>

	<label>
		<div>Meeting Location</div>
			<input type='text' name='location' value={{location}}>
	</label>
	<label>
		<div>Meeting Day</div>
		{% for x in week %}
			<input type="checkbox" name='days' value={{x}}>{{x}}</input>
		{% endfor %}
	<label>

	<label>
		<div>Meeting Time</div>
			<select name='time'>
				<option>Brunch</option>
				<option>Lunch</option>
				<option>After School</option>
			</select>
	</label>

	<label>
		<div>Officer Ids</div>
			{% for x in range(1,5) %}
				Officer {{x}} <input type='text' name='officers'>
				<br>
			{% endfor %}
	</label>
	<label>
		<div>Club Adviser</div>
			<input type='text' name='adviser' value={{adviser}}>
	</label>

	<label>
		<div>Club Logo Url</div>
			<input type="text" name="picUrl" value=''>
	</label>

	<hr>
	<label>
		<div>Choose interest categories:</div>
			{% for x in topic_list %}
				<input type="checkbox" name='interests' value={{x}}>{{x}}</input>
				<br>
			{% endfor %}
	</label>
{% endblock %}