{% extends "base.html" %}

{% block title %}
	<center>Welcome to MyNiche</center>
{% endblock %}
			
{% block content %}

<form method='post' class='form-horizontal'>
  <br>
	<center>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Username" name="username" value={{username}}>
      <h5 class="error">{{err_user}}</h5>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password" value=''>
      <h5 class='error'>{{err_pass}}</h5>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" value = {{name}}>
      <h5 class='error'>{{err_name}}</h5>
    </div>
  </div>
  <div class="form-group">
    <label for="idNum" class="col-sm-2 control-label">Id Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="idNum" placeholder="Id Number" name="idNum" value = {{idNum}}>
      <h5 class='error'>{{err_id}}</h5>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
  <br>
  	<h4>Already a member? <A href='/login'>Sign In</A></h4>
	<h4>Club officer? <A href='/createClub'>Create a club</A></h4>
	<h4>Just browsing? <A href='/allClubs'>View all Clubs</A></h4>
</center>
</form>

<!-- 
<center>
<table class='signup'>
	<tr>
		<td class='label'>Username</td>
		<td><input type="text" name="username" value={{username}}></td>
		<td class="error">{{err_user}}</td>
	</tr>	
	<tr>
		<td class='label'>Password</td>
		<td><input type="text" name="password" value=''></td>
		<td class='error'>{{err_pass}}</td>
	</tr>
	<tr>
		<td class='label'>Name</td>
		<td><input type="text" name="name" value = {{name}}></td>
		<td class="error">{{err_name}}</td>
	</tr>
	<tr>
		<td class='label'>Id Number</td>
		<td><input type="text" name="idNum" value = {{idNum}}></td>
	</tr>
</table>
	<h4>Already a member? <A href='/login'>Sign In</A></h4>
	<h4>Club officer? <A href='/createClub'>Create a club</A></h4>
	<h4>Just browsing? <A href='/allClubs'>View all Clubs</A></h4>
</center>
 -->
{% endblock %}
